{% extends "AppFormulario/mascara.html" %}
{% load static %}

{% block contenidoVariable %}

    <h1>Clases según tu nivel de experiencia </h1>

    <p> Inscríbete en la clase que se acomode a tu nivel de experiencia en las artes marciales mixtas:   </p>
    <p><h4> Principiante</h4>  si estás iniciando en el MMA. </p> 
    <p> <h4>Intermedio </h4> si tienes algo de experiencia pero no has combatido. </p>   
    <p> <h4> Avanzado</h4>  si has tenido algun combate a nivel amateur. </p>   
    <p> <h4> Y Selecciona PROFESIONAL </h4> si tienes combates profesionales.</p>   

{% endblock  %}